<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Немецкая собака</title>
    <link type="image/x-icon" rel="shortcut icon" href="../static/images/favicon.ico">
</head>
<body>
  <h1><em>Пес Грей</em></h1>
  <hr color="blue">
  <img src="/static/images/photo.jpg/" alt="Здесь моя фотография" width="250" />
  <p><strong>Привет я Грей и я <a href="https://4lapy.ru/articles/nemetskaya-ovcharka-poroda-sobak/"> немецкая овчарка </a> </strong> </p>
  <hr color="blue">
  <div>
      <p>На этой страничке я поделюсь своими <mark>чудо программками</mark> на <a href="https://github.com/StepanovY/" target="_blank">GitHub.</a> </p>
  </div>
  <div>
      <p><ins>Кроме лучшего на свете кода,</ins> я размещаю здесь свои фотографии.</p>
  </div>
</body>
</html>